.slide1 {
	background-image: url('../images/bg_image_1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}

.slide2 {
	background-image: url('../images/bg_image_2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}
