$font-title: 'Roboto', sans-serif;
$font-content: 'Raleway', sans-serif;
$font-test: 'Barrio', sans-serif;

$font-bold: 700px;
$font-regular: 500px;

$color-primary:	rgba(42, 42, 42, 1);
$color-middle: rgba(179, 37, 54, 1);
$color-dark: rgba(45, 53, 64, 1);
$color-highlight: rgba(41, 128, 185, 1);
$color-white: rgba(236, 240, 241, 1);
