$font-title: 'Roboto', sans-serif;
$font-content: 'Raleway', sans-serif;
$font-test: 'Barrio', sans-serif;

$font-bold: 700px;
$font-regular: 500px;

$color-special: rgba(179, 37, 54, 1);
$color-primary: rgba(42, 42, 42, 1);
$color-highlight: rgb(204, 239, 252);
$color-white: rgba(255, 255, 255, 1);
$color-subtle: rgba(240, 240, 240, 1);
